<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398440786800-d1032p6ovv92f7ovfcseguv63ojov1iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398440786800-d1032p6ovv92f7ovfcseguv63ojov1iv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOjakIFHjffmRTr6v6hr0Gk9M9p1b1dUA</string>
	<key>GCM_SENDER_ID</key>
	<string>398440786800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCloudFunctions</string>
	<key>PROJECT_ID</key>
	<string>fluttercloudfunctions-6a3e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercloudfunctions-6a3e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398440786800:ios:f1724d82f9014499db3db5</string>
</dict>
</plist>