<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606310247947-iusi7k6dat27j9lcmfu7iqv0oemc6ge6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606310247947-iusi7k6dat27j9lcmfu7iqv0oemc6ge6</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHKWefZEyGdZoEcbcizHstu1j2RlVPRE</string>
	<key>GCM_SENDER_ID</key>
	<string>606310247947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterApp</string>
	<key>PROJECT_ID</key>
	<string>counter-app-86d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-app-86d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606310247947:ios:37f71b29c5d06fee9d610e</string>
</dict>
</plist>