<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63041452552-2f4otvdingut8faet77h970ie21nn939.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63041452552-2f4otvdingut8faet77h970ie21nn939</string>
	<key>API_KEY</key>
	<string>AIzaSyClkAaUXnFaUxQoeQEt26QxmlRxkKbWq7I</string>
	<key>GCM_SENDER_ID</key>
	<string>63041452552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyApp</string>
	<key>PROJECT_ID</key>
	<string>notify-app-1a0df</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-app-1a0df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63041452552:ios:d5f51594217cb4fa14afbd</string>
</dict>
</plist>