<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477048858360-qb7dvlnjja2eseaodkcdhg0ou25g7fjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477048858360-qb7dvlnjja2eseaodkcdhg0ou25g7fjg</string>
	<key>API_KEY</key>
	<string>AIzaSyAnocAmv5_VIAVXb4Pt0OwWi2VK_zhA1qI</string>
	<key>GCM_SENDER_ID</key>
	<string>477048858360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurs.storageApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-storage-beedd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-storage-beedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477048858360:ios:ff46fe22950b224f487d0d</string>
</dict>
</plist>